article{
    width: 260px;
    height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 32px;
    padding: 12px;

    border: 0.5px solid rgb(137, 137, 137);
    border-radius: 12px;
    background-color: white;
    filter: drop-shadow(0 0 0.5rem rgb(137, 137, 137));
    
    font-family: Consolas;
    position: relative;
}

img{
    width: 120px;
    height: auto;
}

.rightInfo{
    position: absolute;
    right: 0;
    left: auto;
    margin-right: 12px;
}

.rightAge{
    width: 70px;
    height: 28px;
    margin-bottom: 10px;

    background-color: rgb(146, 199, 32);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rightNum{
    width: 70px;
    height: 28px;
    margin-bottom: 10px;

    background-color: rgb(233, 222, 15);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    text-align: center;
    margin-top: 24px;
}
.gameName{   
    font-size: 20px;
}
.gameDesc{
    font-size: 16px;
    color: rgb(85, 85, 85);
}

.price{
    width: 80px;
    height: 30px;
    margin: 12px;

    border: 1px solid black;
    border-radius: 15px;
    
    background-color: rgb(146, 199, 32);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;
}